body {
    background-color: #79c4d1;

}


.profile-image {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}

.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}